{
    "jsc": {
      "experimental": {
        "plugins": [
          [
            "@lingui/swc-plugin",
            {
              "runtimeModule": "@lingui/core"
            }
          ]
        ]
      }
    }
  }