---
import "@fontsource-variable/jura";
import "@fontsource-variable/merriweather-sans";
import projectAdaptiveTranslations from "../img/project-adaptive-translations.jpeg";

import Intro from "../components/Intro.astro";
import PortfolioProject from "../components/PortfolioProject.astro";
import DownloadResumeButton from "../components/DownloadResumeButton.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import {i18n} from "@lingui/core";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
    <Intro/>
    <main>
        <h2>Personal Portfolio</h2>
        <p>
            These are side projects I have been working on. They help me hone my
            skills, learn new techniques and think from a business perspective.
        </p>
        <h3>Python</h3>
        <h3>JavaScript</h3>
        <h2>Day-to-day work</h2>
        <h3>Python</h3>
        <PortfolioProject
                image={projectAdaptiveTranslations}
                altText="Adaptive Translations"
                name="Adaptive Translations"
        />
        <h3>JavaScript</h3>
        <p>
            This is a list of the enterprise-level products I have developed and
            contributed to as a full-time employee.
        </p>
        <DownloadResumeButton/>
    </main>
    <Testimonials/>
</BaseLayout>

<style>
    main {
        padding: 15px;
        background-color: rgba(46, 84, 255, 0.1);
        color: #404565;
    }

    main h2 {
        margin-bottom: 20px;
    }
</style>