---
import "@fontsource-variable/jura";
import "@fontsource-variable/merriweather-sans";
import "../styles/reset.css";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import DownloadResumeButton from "../components/DownloadResumeButton.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <Header />
    <Intro />
    <Testimonials />
    <Footer />
  </body>
</html>

<style>
  main {
    padding: 15px;
    background-color: rgba(46, 84, 255, 0.1);
    color: #404565;
  }

  main h2 {
    margin-bottom: 20px;
  }
</style>
