---
import '@fontsource-variable/merriweather-sans';
---
<div>
    <a href="assets/joao-trindade-resume.pdf">Get Resume</a>
</div>

<style>
    div {
        width: 50%;
        margin: 0 auto;
        padding: 15px 36px;
        border: 2px solid #404565;
        border-radius: 6px;
        text-align: center;
        background-color: transparent
    }

    a {
        color: inherit;
        text-decoration: none;
        font-family: "Merriweather", serif;
    }
</style>