---
import "@fontsource-variable/jura";
import Hero from "./Hero.astro";
---

<div id="intro">
  <Hero />
  <h1>João Trindade</h1>
  <p id="expertise">Python & JavaScript Developer</p>
</div>

<style>
  #intro {
    height: 400px;
    padding-top: 90px;
    background-color: #eee;
    text-align: center;
  }

  h1 {
    font-family: "Jura Variable", sans-serif;
    font-size: 1rem;
  }

  #expertise {
    font-family: "Jura Variable", sans-serif;
    font-size: 0.875rem;
    color: #707070;
  }
</style>
