---
---

<a>
    <svg version="1.1" viewBox="0 0 588.42 568.88" xmlns="http://www.w3.org/2000/svg">
        <path d="m580.33 181.86-20.675 1.5315c-21.441-24.249-29.864-95.974-156.21-81.935 4.5945 307.32 139.37 339.74 130.94 402.78-3.063 35.735-31.396 57.686-62.026 58.963-96.74-3.3182-92.4-133.75-122.52-462.51h-124.82c6.6365 115.88 24.759 231.77 26.801 345.35-1.5315 75.554-47.476 115.88-107.97 116.39-99.547 3.3182-130.94-112.82-130.94-162.34l21.441 1e-5c2.042 40.84 21.696 70.194 63.557 71.98 114.1 1.5315 51.305-200.63 50.539-369.86l-135.54 0.76575 0.76575-86.53c563.35-2.7289 491.84-13.773 566.65 165.4z" fill="#000"/>
    </svg>
</a>

<style>
  a {
    width: 25px;
    height: 25px;
  }
</style>
