---

---
<a>
    <h1 class="logo">
        --expert-generalism
    </h1>
</a>

<style>
    .logo {
        font-family: "Jura Variable", sans-serif;
        font-size: 2rem;
        text-align: center;
        margin: 0 0 0.5rem;
    }
</style>